<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net471" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net471" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.5.1" targetFramework="net471" />
  <package id="mzLib" version="1.0.345" targetFramework="net471" />
  <package id="SharpLearning.Common.Interfaces" version="0.28.0" targetFramework="net471" />
  <package id="SharpLearning.Containers" version="0.28.0" targetFramework="net471" />
  <package id="SharpLearning.DecisionTrees" version="0.28.0" targetFramework="net471" />
  <package id="SharpLearning.InputOutput" version="0.28.0" targetFramework="net471" />
  <package id="SharpLearning.Optimization" version="0.28.0" targetFramework="net471" />
  <package id="SharpLearning.RandomForest" version="0.28.0" targetFramework="net471" />
</packages>